*{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url('back img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header{
    color: rgb(10, 8, 8);
    text-align: center;


}
#MOTO{
    text-align: center;
}
footer{background-image: url('footer img.jpg');
    image size:3cm;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 20cm;
margin-bottom: 0cm;

}
#register{
    display:flex;
    margin-top: 5cm;
    margin-right: 2cm;
}
#DonarRegistration{
width: 33vw;
height: px;
padding-left: 190px;
}
#Patientregistration{
    width: 33vw;
height: px;
padding-left: 250px;
}
#AvailableDonar{width: 33vw;
    height: px;
    padding-left: 300px;

}
